//HEADER*//


//*MAIN*//
.products{
    display: flex;
    justify-content:space-between;
}
.main-category{
    display:inline-block;
}

.main-topper{

}
.main-selection{

}
.selectors{

}
.container{

}
.container{
    
}
.container-images .image{

}
.container-images .image .pick{

}