//HEADER*//



.header-title h1{
    background-color: rgb(226, 119, 119);
    text-align: center;
    padding-top:  0.2em;
    color:#f7eef5;
    font-family: 'square peg';
    
}



//*MAIN*//
.contact-frame{

    background-color: rgb(226, 119, 119);
    text-decoration-color: rgb(226, 119, 119);
    
    .company-data{
        
        width: 10em;
        height: 15em;
        padding-top:1em;
        font-size: 1.5em;
        position:relative;
        margin-left: 40%;
        background-color: rgb(226, 119, 119);
        justify-content: space-between;
        
    }

    .company-data ul li{
        color: rgb(247, 242, 242);
        
        text-align:left;
        border-spacing: 10px 5px;
        display:block;
        padding-top:1.5em;
        
        font-family: 'square peg';
        font-size:1.1em;
        font-style:bold;
    }
  

    .user-form{

        border: none;
        border-radius: none;
        display:flex;
        padding: 1em 2em 1em;
        background-color:rgb(226, 119, 119);
        
    }
    

    .user-form-up{
        padding: 45px 45px 20px;
        text-align:left;
        color: #edf2f3;
        margin-top: 50px;
        display:block;
        
   
    }
    .user-form-up .item{
        margin-bottom:2em;

       
    }
    
    .user-form-up {
        margin-top:2em;
        padding-left:0.5em;

    }
    .user-form-middle{
        color: #edf2f3;
        padding:45px 0.2px;
        margin-top: 30px;
        margin-right: 6em;
        text-align:left;
        display:block;
    }
    .user-form-middle .item{
        margin-bottom:2em; 
    }
    .user-form-up .item label{
         padding: 0.1em -1em 1em;
         margin-top: 3em;

    }
    .user-form-middle .item label{
        padding: 0.1em -1em 0.2em;

    }
    .user-form-up .item input{
        margin-top:1em;

    }
    .user-form-middle .item input{
        margin-top:1em;

    }
    .user-form-down{
    text-align:left;
    color: #edf2f3;
    position:relative;
    display:block;
    margin-bottom: 10em;
    


    }
    .user-form-down .form-message{
        padding: 0.1px 45px 10px;
        text-align:left;
        color: #edf2f3;
        font-family: "Akshar", sans-serif;
        display:block;
        margin-bottom: 0.2em;
        
    }
    .user-form-down textarea{
        
        width:48%;
        height: 50%;
        color: #edf2f3;
        margin-top:2;
        margin-left:3em;
        padding-right: 12em;
        color:rgb(44, 41, 41);
        padding-bottom:1em;
        
    
    }
    .send-button input{
    position: relative;
    left: 79%;
    bottom: 15vh;
    background-color: rgb(245, 155, 155);
    color:rgb(241, 235, 235);
    border: none;
   
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem #000000;
      


    }

    
    
}