.product{
    padding:7%;
}
.product-image img{
    max-width: 100%;
}

.product-info{

}

.product-info .product title h2{

}
.product-price {
margin-top: 1em;
}

.product-details{
    margin-bottom:1rem;
}

.tab-panel {
    
    display: flex;
    margin-bottom: 1rem;
}

.tab {
    
    color : rgb(129, 119, 119);
    padding: 0.2rem 0.5rem;
}

.tab-active{

    background-color: rgb(241, 100, 100);
    color: hsl(0, 0%, 100%);
}


.tab-panel-related{
    display:flex;
    margin-bottom: 1rem;
    transform:translateY(50%);
    transition:all .5s ease;

}
    .tab-related{

        color: rgb(129, 119, 119);
        padding: 0.2rem 0.5rem;
        
    }

.tab-related-active{
    background-color: rgb(240, 230, 230);
    color: hsl(0, 2%, 24%);
}
        
    //tab grey hover





    .tab-panel {
        /* Propiedades CSS */
      }
      
    .tab-panel-mostrar {
        /* Propiedades CSS*/
      }
      
    .tab-panel-ocultar {
        /* Propiedades CSS*/
      }


.quantifier{
  
}
.plus-minus-button button{
    background-color: rgb(163, 189, 189);


}
.quantity-minus{
    
    
 
}


.quantity-value{
    
    
}
.quantity-plus{
  
}

.plus-minus-button{
  
    
    
}
.plus-minus-button .plus button{
    
}
.product-add-to-cart-button{

    margin-right:10%;
}

.product-add-to-cart-button button{
    background-color: rgb(241, 100, 100);
    color:rgb(241, 235, 235);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.7rem 0.2rem #000000;
    padding: 0.3rem 2rem;
    margin-top: 4.5rem;
   
}
