svg{
    margin-right: 1rem;
}
.header-main{
    width:2em;
    border-top: 0.2rem solid rgb(238, 13, 13);
    padding: 1.5rem 5%;
    margin: 0 auto;
    width: 100%;
    
}

.header-main-title{
    padding-left: 2.5em;
}
  
  .hamburger {
    display: block;
    position: relative;
    z-index: 4;
    margin-left: 20em;
    margin-top: -3em;
    

    
  }
  
  .hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(240, 4, 4);
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;    
  
  }
  .hamburger span:first-child {
    transform-origin: 0% 0%;
  }
  
  .hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .hamburger.active span {
    opacity: 1;
    transform: rotate(45deg) translate(-18px, -20px);
    background: 0.232323;
  }
  
  .hamburger.active span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .hamburger.active span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 2px);
  }
  
  .hamburger input:checked ~ ul {
    transform: none;
  }