

.mobile-one-column{

    max-width:max-content;
    
}

.slider-image{
    margin-top: 1.5em;
}
.slider-title{
    position:relative;
    left: 5em;
    top:-3em;
    opacity:0.9;
    z-index: 1;
    margin-left: 5em;
}

.slider-button{

    position:relative;
    left: 7.5em;
    

}
.category-element-image img{
 margin-top: 2em;
 margin-left: 2.5em;
 height: auto;
}
 .bottom-prologue{

padding: 2em;

 }

 .bottom-image{
    width:5em;
    position: relative;
    z-index:3;
    margin-bottom:5;
    left:40%
 }