
.header-main {  
    padding-top: 5%;
    padding-left: 5%;
    max-width:980px;
}
.header-main-title h2{
   color:red;
   
}
.header-main-menu svg{
    display: block;
    margin: 0 auto;
    width: 90vw; // Showcase size
    // width: 48px; // UI size
    max-width: 800px;
    #topEnd, #bottomEnd, #bottomStart {
      visibility:hidden;
    }


    
}
.header-main-menu-element{
}
  
